.vscode/*
.vs/*

**/*.dll
**/*.pdb
**/*.exe

samples/IL_EMIT_TEST/obj/*
samples/IL_EMIT_TEST/bin/*

src/.idea/*
src/CASC-Interpreter/obj/*
src/CASC-Interpreter/bin/*
src/CASC/obj/*
src/CASC/bin/*
src/CASC-Console/obj/*
src/CASC-Console/bin/*
src/CASC-Test/obj/*
src/CASC-Test/bin/*

.idea/*